{% extends "base.html" %}
{% load static %}

{% block title %}Adatbevitel
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    <style>
        th, td {
            text-align: center;
        }
        .small-input {
            width: 80px;
            display: inline;
        }
        form {
            margin-left: 1%;
        }
        #formset {
            margin-top: 2%;
        }
        #multiplier-form {
            margin: 1%;
        }
        .fixed {
            top:0;
            position:fixed;
            width: auto;
            display:none;
            border:none;
        }
        .up {
            margin-top:100px;
            cursor:pointer;
            text-align:center;
            text-transform:uppercase;
            letter-spacing:-2px;
            margin:20px 0;
        }
        thead {
            background:#1ABC9C;
        }
        #add_more {
            margin-bottom: 2%;

        }
        .back-to-top {
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            display:none;
        }

        /* Preloader */
        body {
            overflow: hidden;
        }
        #preloader {
            position: fixed;
            top: 0px;
            left:0;
            right:0;
            bottom:0;
            background-color:#fff; /* change if the mask should have another color then white */
            z-index:99; /* makes sure it stays on top */
        }
        .modal-loader {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 )
            url('/static/animation/default.svg')
            50% 50%
            no-repeat;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="{% static "/js/ajax_csrf.js" %}"></script>
    <script>
      $(document).ready(function (){

          var csrftoken = getCookie('csrftoken');
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });

          $("#id_date").datepicker({
              changeMonth: true,
              changeYear: true,
              dateFormat: "yy-mm-dd"
          });

          $("#main-form").submit(function (event) {
              var serializedData = $("#main-form").serializeArray();
              serializedData.push({name: "multiplier", value: multiplier()});
              bootbox.confirm({
                  title: "Ellenőrizted az adatokat?",
                  message: "Biztos vagy benne, hogy elküldöd az adatbázisba?",
                  buttons: {
                      cancel: {
                          label: 'Mégse',
                          className: 'btn-danger'
                      },
                      confirm: {
                          label: 'Megerősít',
                          className: 'btn-success'
                      }
                  },
                  callback: function (result) {
                      // console.log('This was logged in the callback: ' + result);
                      if (result) {
                          $.ajax({
                              url : window.location.href, // the endpoint
                              type : "POST",
                              data : serializedData, // data sent with the post request

                              success: function(json) {
                                  console.log(json);
                                  bootbox.confirm({
                                      title: "Folytatás",
                                      message: "Folytatod az adatbevitelt?",
                                      buttons: {
                                          cancel: {
                                              label: '<i class="fa fa-times"></i> Elég volt mára'
                                          },
                                          confirm: {
                                              label: '<i class="fa fa-check"></i> Új minta'
                                          }
                                      },
                                      callback: function (result) {
                                          if (result) {
                                              location.reload()
                                              // $("form")[0].reset()
                                          }
                                          else {
                                              window.location.replace("http://algaduna.okologia.mta.hu")
                                          }
                                      }
                                  })
                              },
                              error: function (xhr) {
                                  bootbox.alert({
                                      message: "Hibás adatbevitel!",
                                      size: 'small',
                                      backdrop: true
                                  });
                                  console.log(xhr.status + ": " + xhr.responseText);
                              }
                          })
                      }
                  }
              });
              event.preventDefault();
          });

          function multiplier() {
              var n = $("#multiuplier, #id_n").val(),
                  d = $("#multiuplier, #id_d").val(),
                  a = $("#multiuplier, #id_a").val(),
                  V = $("#multiuplier, #id_V").val();
              return d*d/4 * 3.14 / (2*n * d/2 * a/1000 * V);
          }

          // final check
          $("#check").click(function () {
              var sum = 0;
              $(".count").each(function () {
                  sum += Number($(this).val());
              });
              $("#sum").text("Az egyedszám és sejtszám összege: " + sum);
          });

          // szorzó check
          $("#multiplier-form").find(":input").change(function () {
              if ($.isNumeric(multiplier()))
                  $("#multiplier").text("Szorzó: " + multiplier().toFixed(2));
          });
          
          // new taxon
          $("#taxon-form").submit(function (event) {
              event.preventDefault();
              var taxon_serialized = $("#taxon-form").serialize();
              $.ajax({
                  url: window.location.href,
                  type: "POST",
                  data: taxon_serialized,

                  success: function (json) {
                      // console.log(json);
                      $(".modal-loader").css("display", "block");
                      $("#formset").find("select").append($("<option></option>").attr("value", json.taxon_id)
                          .text(json.taxon_name));
                      var my_options = $("#formset").find("select:first option");
                      var selected = $('form select option:selected').map(function (){
                          return this.value
                      }).get();
                      my_options.sort(function(a,b) {
                          if (a.text > b.text) return 1;
                          if (a.text < b.text) return -1;
                          return 0
                      });
                      $("#formset").find("select").empty().append(my_options);
                      $("#formset").find("select").each(function (index){
                          $(this).val(selected[index])
                      });
                      $("#myModalHorizontal").modal('hide');
                      $(".modal-loader").css("display", "none");
                      $("#myModalHorizontal").find('form')[0].reset();
                  },
                  error: function (xhr) {
                      bootbox.alert({
                          message: "Hibás adatbevitel!",
                          size: 'small',
                          backdrop: true
                      });
                      console.log(xhr.status + ": " + xhr.responseText);
                  }
              })
          });


          // scrolling
          (function($) {
              $.fn.fixMe = function() {
                  return this.each(function() {
                      var $this = $(this),
                          $t_fixed;

                      function init() {
                          $this.wrap('<div class="container" />');
                          $t_fixed = $this.clone();
                          $t_fixed.find("tbody").remove().end().addClass("fixed").attr('id', 'scroll-header')
                              .insertBefore($this);
                          resizeFixed();
                      }

                      function resizeFixed() {
                          $t_fixed.find("th").each(function(index) {
                              $(this).css("width", $this.find("th").eq(index).outerWidth() + "px");
                          });
                      }

                      function scrollFixed() {
                          var offset = $(this).scrollTop(),
                              tableOffsetTop = $this.offset().top,
                              tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
                          if (offset < tableOffsetTop || offset > tableOffsetBottom)
                              $t_fixed.hide();
                          else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
                              $t_fixed.show();
                      }
                      $(window).resize(resizeFixed);
                      $(window).scroll(scrollFixed);
                      init();
                  });
              };
          })(jQuery);

          $("table").fixMe();


          // add new form row
          function cloneMore(selector, type) {
              var newElement = $(selector).clone(true);
              var total = $('#id_' + type + '-TOTAL_FORMS').val();
              newElement.find(':input').each(function() {
                  var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                  var id = 'id_' + name;
                  $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
              });
              newElement.find('label').each(function() {
                  var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                  $(this).attr('for', newFor);
              });
              total++;
              $('#id_' + type + '-TOTAL_FORMS').val(total);
              $(selector).after(newElement);
          }

          $('#add_more').click(function(event) {
              event.preventDefault();
              var selector = '#formset>tbody>tr:last-child';
              cloneMore(selector, 'samtax_set');
              $("html, body").animate({
                  scrollTop: $(selector).offset().top + $(selector).outerHeight(true)
              }, 500);
          });


          $(window).scroll(function () {
              if ($(this).scrollTop() > 50) {
                  $('#back-to-top').fadeIn();
              } else {
                  $('#back-to-top').fadeOut();
              }
          });
          // scroll body to 0px on click
          $('#back-to-top').click(function () {
              $('#back-to-top').tooltip('hide');
              $('body,html').animate({
                  scrollTop: 0
              }, 800);
              return false;
          });

          $('#back-to-top').tooltip('show');

});
  </script>

{% endblock %}


{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="cssload-jar">
            <div class="cssload-mouth"></div>
            <div class="cssload-neck"></div>
            <div class="cssload-base">
                <div class="cssload-liquid"> </div>
                <div class="cssload-wave"></div>
                <div class="cssload-wave"></div>
                <div class="cssload-bubble"></div>
                <div class="cssload-bubble"></div>
            </div>
            <div class="cssload-bubble"></div>
            <div class="cssload-bubble"></div>
        </div>
    </div>


    <form method="post" id="main-form">
    {% csrf_token %}
    <div class="form-inline" id="sample-header" align="center">
        {{ dateform }}
    </div>

    <div class="form-inline" id="multiplier-form">
        {% for field in multiplier_form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <span id="multiplier" style="margin-left: 10px"></span>
    </div>

        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}

        <table id="formset" class="table table-hover">
            {% for form in formset.forms %}
                {% if forloop.first %}
                    <thead><tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                    </tr></thead>
                {% endif %}
                <tr>
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <p class="container">
        <a href="#" class="btn btn-block btn-sm btn-info" id="add_more">
            <span class="glyphicon glyphicon-plus"></span> Új sor</a>
        </p>

        <p>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalHorizontal">
                Új taxon
            </button>
            <input type="button" id="check" class="btn btn-warning" value="Ellenőrzés"/>
            <input type="submit" class="btn btn-primary" value="Elküld"/>
        </p>
        <span id="sum"></span>
    </form>

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
       title="Visszatérés az oldal elejére" data-toggle="tooltip" data-placement="left">
        <span class="glyphicon glyphicon-chevron-up"></span></a>


    <!-- new taxon modal -->
    <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-loader"></div>
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Új taxon hozzáadása
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form class="form-horizontal" role="form" id="taxon-form">
                        {% for field in taxon_form %}
                            <div class="form-group">
                                {{ field.errors }}
                                <label class="col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
{#                                {{ field.label_tag }}#}
                                <div class="col-sm-10">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </form>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Mégsem
                    </button>
                    <input type="submit" class="btn btn-primary" id="taxon_submit" value="Elküld" form="taxon-form" />
                </div>
            </div>
        </div>
    </div>


    <!-- Preloader -->
    <script type="text/javascript">
        //<![CDATA[
        $(window).on('load', function() { // makes sure the whole site is loaded
            $('.cssload-jar').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({'overflow':'visible'});
        })
        //]]>
    </script>

{% endblock %}